//noinspection CssInvalidAtRule
@import-normalize; /* bring in normalize.css */

@import "~bulma/bulma";

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
  flex: 1;
}
